@import "tailwindcss";

@theme {
    --color-primary: #3b82f6;
    --color-secondary: #10b981;
    --color-danger: #ef4444;
}

@layer base {
  :root {
    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
    --color-danger: var(--color-danger);
  }
}